portal_id: ${PORTAL_ID}
hoster_id: ${HOSTER_ID}
id: ${ARRAY_ID} 
etag: f7b676cc-888c-4ee0-81df-101e09f2a636
name: Data Fabric Filesystem
created: "2021-09-27T21:29:52.389Z"
modified: "2021-09-27T21:57:03.639Z"
resource_type: array
schema_version: v1
rackID: ${RACK_ID}
location:
  country: ""
  region: ""
  data_center: ""
podID: ${POD_ID}
storage_id: ${STORAGE_ID} 
lastSeen: "2021-09-27T21:57:03.627Z"
driver: sds 
acs: ${ACS} 
connections: []
monitored: false
health_status:
  summary: OK
  reason: ""
  details:
    mapr-cluster.perflab.hp.com: OK
  changed: "2021-09-27T21:40:50.000Z"
