portal_id: ${PORTAL_ID} 
hoster_id: ${HOSTER_ID} 
project_id: '*'
id: ${VOL_FLAVOR_ID} 
etag: 4659b445-acb4-4c31-9828-d1928f377d4b
name: ${VOL_FLAVOR_NAME} 
created: "2021-09-27T21:29:44.335Z"
modified: "2021-09-27T21:29:44.335Z"
resource_type: volumeflavor
schema_version: v1
project_use: true
hoster_use: true
description: A replicated standard fileystem share with low latency
billing:
  method: hourly
  rates:
  - hourly: "0.0001"
    monthly: "0.0025"
    currency: USD
classifiers:
- name: Standard filesystem share
  rules:
  - attribute: latency
    value: ${LATENCY_VALUE}
    operator: contains
weight: 1
auto_config:
  synced_from_remote: false
  reference_id: ""
storage_attributes: