portal_id: ${PORTAL_ID} 
hoster_id: ${HOSTER_ID}
id: ${VOL_ATTACHMENT_ID} 
name: ${VOL_ATTACHMENT_NAME} 
resource_type: volumeattach
schema_version: v3
lifecycle: v1
state: ""
is_boot: false
is_monitored: true 
attach_protocol: fuse 
volumeID: ${VOL_ID} 
