id: ${VOL_ID} 
name: ${VOL_NAME}
volumeFlavorID: ${VOL_FLAVOR_ID} 
podID: ${POD_ID} 
location:
  country: ${COUNTRY} 
  region: ${REGION}
  data_center: ${DATA_CENTER}
description: Test filesystem
capacity: ${CAPACITY} 
